{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "parserOptions": {
        "ecmaVersion": 11,
        "sourceType": "module",
        "project": "./tsconfig.json"
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
        // "plugin:@typescript-eslint/recommended-requiring-type-checking"
    ],
    "rules": {
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "quotes": [1, "single", { "avoidEscape": true }],
        "eol-last": [1, "always"],
        "@typescript-eslint/semi": [1, "always"],
        "@typescript-eslint/naming-convention": [
            1,
            {
                "selector": "default",
                "format": ["camelCase"]
            },
            {
                "selector": ["variable"],
                "modifiers": ["const"],
                "format": ["camelCase", "UPPER_CASE"]
            },
            {
                "selector": ["variable"],
                "modifiers": ["const", "exported"],
                "format": ["camelCase", "PascalCase"]
            },
            {
                "selector": ["class", "interface", "typeAlias"],
                "format": ["PascalCase"]
            },
            {
                "selector": ["typeProperty", "parameter"],
                "format": ["camelCase"],
                "leadingUnderscore": "allow"
            },
            {
                "selector": ["objectLiteralProperty"],
                "format": null
            }
        ],
        "@typescript-eslint/type-annotation-spacing": [
            1,
            {
                "before": false,
                "after": true
            }
        ]
    }
}