node_modules/
.env
.env.dev
.docker/
dist/
build/
schema.graphql
.DS_STORE
.idea/
coverage/
config/local.js
.migrate
logs/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
