# Environment
.env
.env.dev
/config/local.*

# Docker
.docker/

# GraphQL
schema.graphql

# Build
node_modules/
dist/
build/
.DS_STORE
.idea/
coverage/
logs/

# Migration
.migrate

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
