# Environment
.env
.env.dev
/config/local.*

# Docker
.docker/

# GraphQL
schema.graphql

# Build
node_modules/
dist/
build/
.DS_STORE
.idea/
coverage/

# Migration
.migrate
logs/
config/local.js

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Files
files/*

# Logs
logs/