version: "3.7"

services:
  test-server:
    build:
      context: .
      dockerfile: Dockerfile
      target: base
    volumes:
      - ./:/home/node/app/
    container_name: ems-ui-poc-api-test
    expose:
      - 4000
    ports:
      - 4000:4000
    command: npm run test
    depends_on:
      - mongodb_test
    links:
      - mongodb_test
    environment:
      - NODE_CONFIG_ENV=test
      - NODE_OPTIONS=--max-old-space-size=8192

  mongodb_test: # If mongo docker
    image: mongo:5.0
    restart: unless-stopped
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=123
    ports:
      - 27017:27017
    volumes:
      - mongodb_test:/data/db
    command: mongod --quiet --logpath /dev/null

volumes:
  mongodb_test: # If mongo docker
    driver: local
